footer {
    background: #1391CE;
}


.lef {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.lin {
    width: 1120px;
    height: 1px;
    margin-top: 32px;
    background: #e3e3e3;
}

.ray {
    display: flex;
    justify-content: space-between;
}
.par {
    margin-top: 21px;
}
.par a {

    font-weight: 400;
    font-size: 20px;
    line-height: 134.3%;
    color: #302e2f;
}
.par ul    {
    margin: px 0px 69px; 
}